/* contact-button */

.button {
  overflow: hidden;
}

.contact-button {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.button-link  {
  width: 100px;
  position: relative;
  background-color: #0D6EFF;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  padding: 6px 18px;
  display: block;
}

.primary-button {
  position: relative;
}

.primary-button::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #E3FB51;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.primary-button span {
  position: relative;
}

.primary-button:hover {
  color: #0D6EFF;
}

.primary-button:hover::before {
  transform: translateX(0);
}



