@charset "UTF-8";

/* 共通設定 */
html {
  font-size: 100%;
}

body {
  font-family: "Noto Sans JP", sans-serif;    
  background-color: #fff;
  color: #333;
  font-size: 1.25rem;     /* 20px*/
  line-height: 1.7;
}

.font-en {
  font-family: "Inter", sans-serif;  
}


.logo {
  width: 80px;
  line-height: 1;
  margin-left: 40px;
}

.logo a {
  display: block;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.title_img {
  width: 130px;
  margin-left: 8px;
}

li {
list-style: none;
}

.title {
  padding: 0;
  text-align: left;
  font-size: 3.125rem;
  margin-bottom: 50px;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

/* 文字を下から上へ */
.fadein {
  opacity: 0;
  transform: translate(0,80px);
  transition: all 1s;
}

.fadein.scrollin {
  opacity: 1;
  transform: translate(0,0);
}

@media screen and (max-width:1099px) {
  p {
     font-size: 1.125rem;
  }

  .title {
    padding: 0;
    text-align: left;
    font-size: 2.25rem;
    margin-bottom: 50px;
  }

  .wrapper {
    max-width: 320px;
    margin: 0 auto;
  }
}

/* .button { */
  /* overflow: hidden; */
/* } */
/*  */
/* .button-link  { */
  /* position: relative; */
  /* background-color: #0D6EFF; */
  /* color: #fff; */
  /* font-size: 1rem; */
  /* text-align: center; */
  /* padding: 6px 18px; */
/* } */
/*  */
/* .primary-button { */
  /* position: relative; */
/*   */
/* } */
/*  */
/* .primary-button::before { */
  /* content: ""; */
  /* top: 0; */
  /* left: 0; */
  /* position: absolute; */
  /* width: 100%; */
  /* height: 100%; */
  /* background-color: #E3FB51; */
  /* transform: translateX(-100%); */
  /* transition: transform 0.3s ease-in-out; */
/* } */
/*  */
/* .primary-button span { */
  /* position: relative; */
/* } */
/*  */
/* .primary-button:hover::before { */
  /* transform: translateX(0); */
/* } */
/*  */
 .none { 
 display: none; 
 } 
/*  */
/*  */
/* contact-button */
/*  */
/* .contact-button { */
  /* width: 100px; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* overflow: hidden; */
/* } */
/*  */
/* .button-link  { */
  /* position: relative; */
  /* background-color: #0D6EFF; */
  /* color: #fff; */
  /* font-size: 1rem; */
  /* text-align: center; */
  /* padding: 6px 18px; */
/* } */
/*  */
/* .primary-button { */
  /* position: relative; */
/*   */
/* } */
/*  */
/* .primary-button::before { */
  /* content: ""; */
  /* top: 0; */
  /* left: 0; */
  /* position: absolute; */
  /* width: 100%; */
  /* height: 100%; */
  /* background-color: #E3FB51; */
  /* transform: translateX(-100%); */
  /* transition: transform 0.3s ease-in-out; */
/* } */
/*  */
/* .primary-button span { */
  /* position: relative; */
/* } */
/*  */
/* .primary-button:hover::before { */
  /* transform: translateX(0); */
/* } */
/*  */

/* header */
.header-inner {
  max-width: 1440px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header-title a img {
  display: block;
  width: 80px;
}

.header-title {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header-title h1 {
  font-size: 1.25rem;
}


.header__navigation li:nth-child(1),
.header__navigation li:nth-child(2),
.header__navigation li:nth-child(3) {
  margin-right: 54px;
}

.header__navigation  ul li:last-child {
  margin-right: 0;
}

.header__navigation  ul li a {
   transition: all 0.3s;
}

.header__navigation  ul li a:hover {
   color: #0D6EFF;
}

.nav-drawer__link-instagram, 
.nav-drawer__link-facebook {
  display: none;
}

/* burgerボタン */
@media screen and (max-width:1099px) {

.header-title a img {
  width: 60px;
}

   /* ハンバーガーアイコン */
 #nav-drawer {
  text-align: right;
  position: relative;
}
#nav-open {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 10px;
  bottom: 0;
  right: 0;
}
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;
  width: 30px;
  background-color: #333;
  display: block;
  content: "";
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}
#nav-close {
  z-index: 999;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: .5;
}
#nav-content {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 70%;
  background-color: #0D6EFF;
  height: 100%;
  text-align: left;
  padding: 10px 0 0 20px;
  transform: translateX(-105%);
  transition: .5s ease-in-out;
  box-shadow: 8px 8px #E3FB51;
}

#nav-content ul li {
  margin-bottom: 36px;
}

#nav-content ul li:first-child {
  margin-top: 100px;
}

#nav-content ul li a {
  text-decoration: none;
  font-size: 1.125rem;
  color: #fff;
  width: 30px;
  height: 30px;
}

.nav-drawer__link-instagram,
.nav-drawer__link-facebook {
  display: block;
}


#nav-content ul li img {
  background-size: cover;
}
#nav-content ul li a:hover, a:active {
  color: #E3FB51;
}
.nav-drawer__link-top {
  display: block;
}
#nav-input:checked ~ #nav-close {
  display: block;
}
#nav-input:checked ~ #nav-content {
  transform: translateX(0%);
}
}
@media (max-width: 1099px) {
  .header {
    padding: 13px 24px;
  }
}
@media (min-width: 480px) {
  .header {
    box-sizing: border-box;
  }
  .header__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
  }
  .header h1 {
    font-size: 1rem;
  }
  .header__navigation {
    display: block;
    text-align: right;
  }
  
  .header__navigation ul li {
    display: inline-block;
  }

  .header__navigation ul li a {
    text-decoration: none;
    font-size: 1.125rem;
  }

  .menu-none {
    display: none !important;
  }
}

/* 会社概要 */

.info {
  flex-basis: 50%;
}

.company-history {
  flex-basis: 50%;
}

#company-info {
  position: relative;
   display: flex; 
   gap: 40px;
   margin-bottom: 110px;
} 

#company-info p {
  padding-bottom: 80px;
}

#company-info .br-sp {
  display: none;
}

@media screen and (max-width:1099px) {
  #company-info {
     display: block; 
     margin-bottom: 110px;
  } 

  .company-title h2 {
    font-size:  2.25rem;   /* 36px */
  }

  .info h2, .history-title h2 {
   font-size:  2.25rem;
 } 

 #company-info .br-sp {
  display: block; 
}

}


.company-title {
 padding: 100px 0 140px;
}

.flex01 {
  display: flex;
  justify-content: space-between;
}

 h2 {
  font-size: 3.125rem;
}

/* infomation */

.table {
  border-collapse: collapse;
}

.table tr {
  font-weight: 600;
  line-height: 2;
}

.table th {
  width: 30%;
  text-align: left;
  padding-right: 30px;
  
}

.table td {
  width: 70%;
}

@media screen and (max-width:1099px) {

.table {
  padding-bottom: 80px;
}

 .table td {
   width: 60%;
   font-size: 1rem;  /* 16px */
 }

 .table th {
  font-size: 1rem;
  width: 40%;
}
}

/* history */


.history-title h2 {
  color: transparent;
  -webkit-text-stroke: 1px #333;
}

.company-history dt {
  font-size: 2.25rem;
  font-weight: 600;
  color: #0D6EFF;
  margin-top: 62px;
  padding-bottom: 20px;
}

.company-history dd {
  font-weight: 600;
   padding-left: 100px;
}

.company-history .yama {
  padding-left: 165px;
}
.company-history .history dt {
  margin-top: 0;
}


/* sp */
@media screen and (max-width:1099px) {

  .company-history {
    padding-top: 80px;
  }

  .company-history dd {
    font-size: 1.125rem; /* 18px */
    font-weight: 600;
    padding: 0;
  }

  .company-history .yama {
    padding-left: 57px;
  }

}



/* 社長 */

.ceo-contents {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.ceo img {
  margin-top: 180px;
  width: 388px;
  box-shadow: 32px 20px #E3FB51;
}

.ceo-name p {
  padding-top: 50px;
}

.ceo-name h2 {
  color: #0D6EFF;

}

.ceo-name .ito {
  font-size: 1.25rem;
  padding-left: 30px;
}

.ceo-name img {
  width: 45px;
  height: 45px;
}

@media screen and (max-width:1099px) {

  .ceo-contents {
    display: block;
  }

  .member-title {
    margin-bottom: 80px;
  }

  .member-title h2 {
    font-size:  2.25rem;   /* 36px */
  }

  .ceo img {
    margin-top: 0;
  }

  .ceo-name h2 {
    font-size: 1.875rem; /* 30px */
    margin-bottom: 30px;
  }


  .ceo-name .ito {
    font-size: 1.125rem;
    padding-left: 30px;
  }
  
}


/* icon ホバーしたら薄くなる */

.ceo-name a:hover{ 
	opacity:0.5;
	transition:0.5s;
}


.ceo-name {
  position: relative;
}

/* vision & message */

.vision-message {
  padding: 170px 0 0;
}

.vision-title {
  font-size: 2.5rem;
  padding-bottom: 40px;
}

.vision h2 {
  font-size: 3.125rem;
  padding-bottom: 65px;
}

/* 文字のアンダーライン黄色 */

.vision h2 .txt01 {
  background: linear-gradient(transparent 70%, #FFFF00 0%);
  text-underline-offset: 8%;
}


.vision h2 .txt02 {
  color: #0D6EFF;
}


.vision-message p .br-sp {
  display: none;
}

@media screen and (max-width:1099px) {
  .vision-message {
    padding: 110px 0 0;
  }
  

  .vision-title {
    font-size: 1.875rem; /* 30px */
    padding-bottom: 50px;
  }

  .vision h2 {
    line-height: 1;
  }

  .vision h2 .txt01{
    font-size: 1.5rem;  /* 24px */
  }
  
  
  .vision h2 .txt02 {
    font-size: 1.5rem;  /* 24px */
    color: #0D6EFF;
  }

  .vision-message p br {
     display: none;
  }

  .vision-message p .br-sp {
    display: block;
  }

}

/* /.profile */

.profile h3 {
  font-size: 2.5rem;
  padding: 60px 0 80px;
}

/* 仲間 */

#friends {
  margin-bottom: 120px;
}

.human {
  padding-top: 110px;
}

.human ul {
  display: flex;
  justify-content: space-between;
}

.human ul li img {
  filter:grayscale(100%);
  width: 200px;
  box-shadow: 20px 10px #E3FB51;
}

.human ul li img:hover {
  filter:grayscale(0);
	transition:0.3s;
}

.human .human-txt {
  padding-top: 30px;
}

.human .human-txt h3 {
  font-size: 2.5rem;  /* 40px */
}

.human .human-name {
  color: #0D6EFF;
}

@media screen and (max-width:1099px) {

  .human {
    padding-top: 60px;
  }

  .human ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    padding: 0;
  }

  .human .human-txt h3 {
    font-size: 1.5rem;  /* 24px */
  }

  .human .human-txt p {
    font-size: 1rem; /* 16px */
  }
}


/* contact */

#contact {
  background-image: url(../images/contact_img/contact.jpg);
  background-size: cover;
  width:100%;
  height: 460px;
}


.shadow-second {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}


.contact-title {
  color: #E3FB51;
  text-align: center;
}

.contact-title h2 {
  padding-top: 60px;
  margin-bottom: 35px;
  font-size: 2.5rem;
  font-weight: 600; 
}

.contact-txt, .contact-txt-second {
  padding: 20px;
}

.contact-txt-second .br-sp {
  display: none;
}



@media screen and (max-width:1099px) {
  #contact {
    background-image: url(../images/contact_img/contact.jpg);
    background-size: cover;
    width:100%;
    height: 435px;
  }

  .contact-title h2 {
    padding-top: 60px;
    margin-bottom: 35px;
    font-size: 2.25rem;
    font-weight: 600; 
  }

  .contact-title  p {
    padding: 0;
    padding-bottom: 30px;
  }

  .contact-txt-second .br-sp {
    display: block;
  }
  
}

/* footer */

#footer {
  background: #0D6EFF;
  color: #FFF;
}

.footer-flex {
  display: flex;
  justify-content: left;
}

.footer-navi  {
  padding: 70px;
  margin: 0;
}

.footer-navi li {
  margin-bottom: 40px;
}

.footer-navi li a {
  color: #FFF;
  transition: all 0.3s;
}

.footer-navi li a:hover {
  color: #E3FB51;
}

.footer-navi li:last-child {
  margin-bottom: 0;
}

.icon-navi {
  display: flex;
  justify-content: left;
  gap: 40px;
  margin: 0;
  padding-top: 70px;
}

.icon-navi a img {
  position: relative;
  top: 0;
}

.icon-navi a img:hover {
  top: -10px;
  transition: 0.3s;
}

.icon-navi img {
  width: 45px;
  height: 45px;
}

.copyright {
  font-size: 1rem;
  text-align: center;
  padding: 30px;
}

@media screen and (max-width:900px) {
  #footer {
    background: #0D6EFF;
    color: #FFF;
  }

  .footer-flex {
    flex-wrap: wrap;
    display: flex;
    justify-content: left;
  }

  .footer-navi  {
    padding: 0;
    margin: 0;
  }

  .footer-flex {
    padding-top: 50px;
    display: flex;
    gap: 40px;
    justify-content: left;
  }

  .icon-navi {
    padding: 0;
  }

  .copyright {
    padding-top: 70px;
  }
}
