@charset "UTF-8";

/* 共通設定 */
html {
  
  font-size: 100%;
}

body {
  font-family: "Noto Sans JP", sans-serif;  
  background-color: #fff;
  color: #333;
  font-size: 1.25rem;     /* 20px*/
  line-height: 1.7;
}

.font-en {
  font-family: "Inter", sans-serif; 
}


.logo {
  width: 80px;
  line-height: 1;
  margin-left: 40px;
}

.logo a {
  display: block;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.title_img {
  width: 130px;
  margin-left: 8px;
}

/* li {
list-style: none;
} */

.title {
  padding: 0;
  text-align: left;
  font-size: 3.125rem;
  margin-bottom: 50px;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

/* top画像をふわっと出す */
.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 1.0s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* アニメーションスタートの遅延時間を決めるCSS*/

.delay-time02{
  animation-delay: 0.5s;
  }
  
  .delay-time03{
  animation-delay: 0.8s;
  }
  
  .delay-time04{
  animation-delay: 1.3s;
  }
  

/* 文字を下から上へ */
.fadein {
  opacity: 0;
  transform: translate(0,80px);
  transition: all 1s;
}

.fadein.scrollin {
  opacity: 1;
  transform: translate(0,0);
}

@media screen and (max-width:1099px) {
  p {
     font-size: 1.125rem;
  }

  .title {
    padding: 0;
    text-align: left;
    font-size: 1.875rem;
    margin-bottom: 50px;
  }

  .wrapper {
    max-width: 320px;
    margin: 0 auto;
  }
}

.none {
  display: none;
}


/* main */

.policy {
  margin-bottom: 120px;
}

.site-title {
  padding-top: 70px;
}

.txt {
  text-align: left;
}

.sub-item {
  margin: 50px 0 40px 0;
  padding: 15px 0 15px 20px;
  font-size: 1.75rem;
  border-left: 5px solid #0D6EFF;
}

.item-ol {
margin: 20px 0 0 50px;
}

.sub-title ol li {
padding: 0 0 0 5px;
}
.sub-title ol li+li {
margin-top: 15px;
}

.sub-title ol li::marker {
   font-size: 130%;
  font-weight: 600;
  color: #0D6EFF;
}



/* contact */

#contact {
  background-image: url(../images/contact_img/contact.jpg);
  background-size: cover;
  width:100%;
  height: 460px;
}


.shadow-second {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}


.contact-title {
  color: #E3FB51;
  text-align: center;
}

.contact-title h2 {
  padding-top: 60px;
  margin-bottom: 35px;
  font-size: 2.5rem;
  font-weight: 600; 
}

.contact-txt-second .br-sp {
  display: none;
}


@media screen and (max-width:900px) {
  #contact {
    background-image: url(../images/contact_img/contact.jpg);
    background-size: cover;
    width:100%;
    height: 435px;
  }

  .contact-title h2 {
    padding-top: 60px;
    margin-bottom: 35px;
    font-size: 2.25rem;
    font-weight: 600; 
  }

  .contact-title  p {
    padding: 0;
    padding-bottom: 30px;
  }

  .contact-txt-second .br-sp {
    display: block;
  }
  
}

