@charset "UTF-8";

/* 共通設定 */
html {
  
  font-size: 100%;
}

body {
  font-family: "Noto Sans JP", sans-serif;  
  background-color: #fff;
  color: #333;
  font-size: 1.25rem;     /* 20px*/
  line-height: 1.7;
}

.font-en {
  font-family: "Inter", sans-serif; 
}


.logo {
  width: 80px;
  line-height: 1;
  margin-left: 40px;
}

.logo a {
  display: block;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.title_img {
  width: 130px;
  margin-left: 8px;
}

/* li {
list-style: none;
} */

.title {
  padding: 0;
  text-align: left;
  font-size: 3.125rem;
  margin-bottom: 50px;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

/* top画像をふわっと出す */
.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 1.0s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* アニメーションスタートの遅延時間を決めるCSS*/

.delay-time02{
  animation-delay: 0.5s;
  }
  
  .delay-time03{
  animation-delay: 0.8s;
  }
  
  .delay-time04{
  animation-delay: 1.3s;
  }
  

/* 文字を下から上へ */
.fadein {
  opacity: 0;
  transform: translate(0,80px);
  transition: all 1s;
}

.fadein.scrollin {
  opacity: 1;
  transform: translate(0,0);
}

@media screen and (max-width:1099px) {
  p {
     font-size: 1.125rem;
  }

  .title {
    padding: 0;
    text-align: left;
    font-size: 1.875rem;
    margin-bottom: 50px;
  }

  .wrapper {
    max-width: 320px;
    margin: 0 auto;
  }
}

.none {
  display: none;
}

/* header */
.header-inner {
  max-width: 1440px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header-title a img {
  display: block;
  width: 80px;
}

.header-title {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header-title h1 {
  font-size: 1.25rem;
}


.header__navigation li:nth-child(1),
.header__navigation li:nth-child(2),
.header__navigation li:nth-child(3) {
  margin-right: 54px;
}

.header__navigation  ul li:last-child {
  margin-right: 0;
}

.header__navigation  ul li a {
   transition: all 0.3s;
}

.header__navigation  ul li a:hover {
   color: #0D6EFF;
}

.nav-drawer__link-instagram, 
.nav-drawer__link-facebook {
  display: none;
}

/* burgerボタン */
@media screen and (max-width:1099px) {

.header-title a img {
  width: 60px;
}

   /* ハンバーガーアイコン */
 #nav-drawer {
  text-align: right;
  position: relative;
}
#nav-open {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 10px;
  bottom: 0;
  right: 0;
}
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;
  width: 30px;
  background-color: #333;
  display: block;
  content: "";
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}
#nav-close {
  z-index: 999;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: .5;
}
#nav-content {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 70%;
  background-color: #0D6EFF;
  height: 100%;
  text-align: left;
  padding: 10px 0 0 20px;
  transform: translateX(-105%);
  transition: .5s ease-in-out;
  box-shadow: 8px 8px #E3FB51;
}

#nav-content ul li {
  margin-bottom: 36px;
}

#nav-content ul li:first-child {
  margin-top: 100px;
}

#nav-content ul li a {
  text-decoration: none;
  font-size: 1.125rem;
  color: #fff;
  width: 30px;
  height: 30px;
}

.nav-drawer__link-instagram,
.nav-drawer__link-facebook {
  display: block;
}


#nav-content ul li img {
  background-size: cover;
}
#nav-content ul li a:hover, a:active {
  color: #E3FB51;
}
.nav-drawer__link-top {
  display: block;
}
#nav-input:checked ~ #nav-close {
  display: block;
}
#nav-input:checked ~ #nav-content {
  transform: translateX(0%);
}
}
@media (max-width: 1099px) {
  .header {
    padding: 13px 24px;
  }
}
@media (min-width: 480px) {
  .header {
    box-sizing: border-box;
  }
  .header__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
  }
  .header h1 {
    font-size: 1rem;
  }
  .header__navigation {
    display: block;
    text-align: right;
  }
  
  .header__navigation ul li {
    display: inline-block;
    /* margin-left: 30px; */
  }

  .header__navigation ul li a {
    text-decoration: none;
    font-size: 1.125rem;
  }

  .menu-none {
    display: none !important;
  }
}

/* main */

.policy {
  margin-bottom: 120px;
}

.site-title {
  padding-top: 70px;
}

.txt {
  text-align: left;
}

.sub-item {
  margin: 50px 0 40px 0;
  padding: 15px 0 15px 20px;
  font-size: 1.75rem;
  border-left: 5px solid #0D6EFF;
}

.item-ol {
margin: 20px 0 0 50px;
}

.sub-title ol li {
padding: 0 0 0 5px;
}
.sub-title ol li+li {
margin-top: 15px;
}

.sub-title ol li::marker {
   font-size: 130%;
  font-weight: 600;
  color: #0D6EFF;
}



/* contact */

#contact {
  background-image: url(../images/contact_img/contact.jpg);
  background-size: cover;
  width:100%;
  height: 460px;
}


.shadow-second {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}


.contact-title {
  color: #E3FB51;
  text-align: center;
}

.contact-title h2 {
  padding-top: 60px;
  margin-bottom: 35px;
  font-size: 2.5rem;
  font-weight: 600; 
}

.contact-txt-second .br-sp {
  display: none;
}


@media screen and (max-width:900px) {
  #contact {
    background-image: url(../images/contact_img/contact.jpg);
    background-size: cover;
    width:100%;
    height: 435px;
  }

  .contact-title h2 {
    padding-top: 60px;
    margin-bottom: 35px;
    font-size: 2.25rem;
    font-weight: 600; 
  }

  .contact-title  p {
    padding: 0;
    padding-bottom: 30px;
  }

  .contact-txt-second .br-sp {
    display: block;
  }
  
}

/* footer */

#footer {
  background: #0D6EFF;
  color: #FFF;
}

.footer-flex {
  display: flex;
  justify-content: left;
}

.footer-navi  {
  padding: 70px;
  margin: 0;
}

.footer-navi li {
  margin-bottom: 40px;
}

.footer-navi li a {
  color: #FFF;
  transition: all 0.3s;
}

.footer-navi li a:hover {
  color: #E3FB51;
}

.footer-navi li:last-child {
  margin-bottom: 0;
}

.icon-navi {
  display: flex;
  justify-content: left;
  gap: 40px;
  margin: 0;
  padding-top: 70px;
}

.icon-navi a img {
  position: relative;
  top: 0;
}

.icon-navi a img:hover {
  top: -10px;
  transition: 0.3s;
}

.icon-navi img {
  width: 45px;
  height: 45px;
}

.copyright {
  font-size: 1rem;
  text-align: center;
  padding: 30px;
}

@media screen and (max-width:900px) {
  #footer {
    background: #0D6EFF;
    color: #FFF;
  }

  .footer-flex {
    flex-wrap: wrap;
    display: flex;
    justify-content: left;
  }

  .footer-navi  {
    padding: 0;
    margin: 0;
  }

  .footer-flex {
    padding-top: 50px;
    display: flex;
    gap: 40px;
    justify-content: left;
  }

  .icon-navi {
    padding: 0;
  }

  .copyright {
    padding-top: 70px;
  }
}
